:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --accent-color: #6c63ff;
  --font-color: #272142;
}
h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 36px;
  color: var(--font-color);
  line-height: 54px;
}
h1 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
h3 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.hero {
  width: 1440px;
  height: 860px;
  background-color: #f9f7fe;
  margin: 0 auto;
  font-family: var(--secondary-font);
}
.navbar {
  margin: 0 140px 0 165px;
}
.nav-link {
  margin-right: 30px;
  font-size: 16px;
  color: var(--font-color);
  opacity: 70%;
}
.active {
  color: var(--accent-color) !important;
  opacity: 100%;
}
.caption {
  text-align: center;
  margin-top: 235px;
}
.button {
  display: block;
  margin: 50px auto;
  width: 200px;
  height: 63px;
  padding: 18px 30px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.button:hover {
  color: white;
}
